.logo-container{
  display: flex;
  justify-content: center;
}

.logo-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 80%;
  max-width: 100%;
}

.logo-row img{
  max-width: 100%;
  padding: 1em;
}
